alias find="fd"
alias du="dust"
alias ps="procs"
alias cat="bat -pp"
alias vim="nvim"
alias grep="rg -p --follow -n"

if [ "$(command -v exa)" ]; then
  unalias -m 'll'
  unalias -m 'l'
  unalias -m 'la'
  unalias -m 'ls'
  alias ls='exa --icons -b --header -H --octal-permissions --color=always -h -G'
  alias ll='exa exa --icons -b --header -H --octal-permissions --color=always -h -l -a -s type'
fi

if [ "$(command -v btm)" ]; then
  alias bottom="btm"
fi

alias ref="source ~/.zshrc"
alias mkdir="mkdir -pv"
alias userlist="cut -d: -f1 /etc/passwd"
alias fhere="find . -name "
alias free="free -mt"
alias wget="wget -c"
alias histg="history | grep"
alias myip="curl http://ipecho.net/plain; echo"
alias logs="find /var/log -type f -exec file {} \; | grep 'text' | cut -d' ' -f1 | sed -e's/:$//g' | grep -v '[0-9]$' | xargs tail -f"

alias less="less -m -N -g -i -J --underline-special --SILENT"
alias more="less" # Prevent the use of more over less

alias ua="uname -a"
alias ur="uname -r"
alias viz="vim ~/.zshrc"

alias python="python3"
alias pip="pip3"
alias sail='[ -f sail ] && bash sail || bash vendor/bin/sail'
